/* || Navigation */
.navigation {
  position: sticky;
  top: 0;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  background-color: rgb(89, 148, 0);
  padding: 0;
}
.navigation a {
  float: left;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0.3em;
  margin-left: 1em;
  color: white;
  font-size: 1.2em;
}


#home {
  margin: auto;
  text-align: center;
  width: 90%;
  padding-top: 3em;
  padding-bottom: 5em;
  border: black 1px solid;
  background-color: rgb(235, 246, 252);;
}
.navigation a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(143, 109, 0);
}

div.content {
  max-width: 700px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 2em;
  
}

body {
  background-image: url(images/bigpondcrop.jpg);
  cursor: url(images/leaf2.ico), auto;
}

h1 {
  margin-top: 2em;
  padding-top: 5em;
  font-size: 1.5em;
  font-family: serif;
  color: rgb(187, 42, 16);
}

h2 {

  font-size: 1.2em;
  font-family: serif;
  color: rgb(151, 103, 0);
}
p {
  font-size: 1em;
}
